/* body{
    background-color: #dee9ff;
} */


.registration-form{
    background-color: #fff;
    max-width: 600px;
    /* margin: auto; */
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* box-shadow: 0.5px 10px 5px #2495a9; */
    box-shadow: 0px 2px 10px rgba(36, 149, 169, 1);
    margin-top: -20px;
    height: 499px;
    
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2495a9;
    border: none;
    color: white;
    /* margin-top: 20px; */
}



@media (max-width: 576px) {
    .registration-form{
        padding: 25px 20px;
        margin-top: -26px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}