*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#281c3e,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h3{
	color: #fff;
	font-size: 45px;
	text-align: center;
	text-decoration: underline;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h3:nth-of-type(2){
	font-size: 15px;
	font-weight: 600;
	color: #FFC451;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
	
}
@media(max-width:510px){
	.box h5{
		font-size: 11px;
	}
}

 /* spinner css */
 #loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Dark background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Beautiful Neon Glowing Spinner */
  .spinner {
    width: 60px;
    height: 60px;
    /* border:  solid rgba(0, 0, 0, 0.9); */
    border-top: 6px solid #ffc107; /* Bright Neon Blue */
    border-bottom: 6px solid #ffc107; ;
    border-radius: 50%;
    animation: spin 1.2s linear infinite, glow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes glow {
    0% { box-shadow: 0 0 #ffc107, 0 0  #ffc107; }
    100% { box-shadow: 0 0  #ffc107, 0 0  #ffc107; }
  }

